[Unit]
Description=Guardex node management firewall
Documentation=https://github.com/mistaste/node-agent
DefaultDependencies=no
After=local-fs.target firewalld.service netfilter-persistent.service ufw.service
Before=network-pre.target docker.service
Wants=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/guardex/node-firewall.conf
ExecStart=/usr/local/sbin/guardex-agent-firewall
ExecReload=/usr/local/sbin/guardex-agent-firewall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
